.home{
    display: flex;
}

.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.summary{
    width: 20%;
    padding: 20px;
    margin: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

.productDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    gap: 10px;
  }
  
  .productImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .add {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .add .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add .btn:hover {
    background-color: #c82333;
  }

  